// Import Bootstrap Core
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom Bootstrap Variables
$nav-tabs-border-radius: 0; // Removes tab border radius
$card-border-radius: 0; // Removes border radius from card
$card-spacer-x: 1.25rem; // Adjusts card padding
$card-cap-padding-x: 1.25rem; // Header padding
$list-group-item-padding-x: 1.25rem; // List padding
$blue: #001df9; // Primary Color
$list-group-item-action-active-bg-color: #6c757d;



// Custom Styles
.nav-tabs .nav-link {
  background-color: $gray-300; 
  color: $black;
  padding: 0.75rem 1.25rem;
  margin: 0 0.25rem;
  &:hover {
    background-color: $gray-400;
  }
}

.image-container {
  width: 50%;
  height: auto;
  background-color: $blue;
  color: $white;
  @include media-breakpoint-down(md) {
    width: 100%;
    height: 200px;
  }
  @extend .d-flex, .align-items-center, .justify-content-center;
}

.img-fluid {
  border-radius: 0;
  height: auto;
}

.card-body {
  max-width: 600px;
}

// Loading Spinner
.spinner {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading-container {
  @extend .d-flex, .flex-column, .align-items-center, .justify-content-center;
  height: 200px;
  font-size: 1.2rem;
  font-weight: bold;
}
.spinner-border {
  width: 50px;
  height: 50px;
}

// Footer
.card-footer {
  padding-left: 1.25rem;
}

// Import Bootstrap with modified variables
@import "~bootstrap/scss/bootstrap";



